pipeline/pl_create_silver_tables_using_usp.json
{
	"name": "pl_create_silver_tables_using_usp",
	"properties": {
		"activities": [
			{
				"name": "For each table folder path",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.v_folder_path_usp_name_array",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "delete silver folders",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_taxi_zone_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "@item().folder_path",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Create Silver Tables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "delete silver folders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().usp_name",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"v_folder_path": {
				"type": "string",
				"defaultValue": "silver/taxi_zone"
			},
			"v_usp_name": {
				"type": "string",
				"defaultValue": "silver.usp_silver_taxi_zone"
			},
			"v_folder_path_usp_name_array": {
				"type": "array",
				"defaultValue": [
					{
						"folder_path": "silver/calendar",
						"usp_name": "silver.usp_silver_calendar"
					},
					{
						"folder_path": "silver/taxi_zone",
						"usp_name": "silver.usp_silver_taxi_zone"
					},
					{
						"folder_path": "silver/trip_type",
						"usp_name": "silver.usp_silver_trip_type"
					},
					{
						"folder_path": "silver/vendor",
						"usp_name": "silver.usp_silver_vendor"
					},
					{
						"folder_path": "silver/rate_code",
						"usp_name": "silver.usp_silver_rate_code"
					},
					{
						"folder_path": "silver/payment_type",
						"usp_name": "silver.usp_silver_payment_type"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-20T09:44:23Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}