pipeline/pl_create_gold_trip_data_green.json
{
	"name": "pl_create_gold_trip_data_green",
	"properties": {
		"activities": [
			{
				"name": "Get Years and Months",
				"description": "Get Year and Month to process from bronze layer",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT DISTINCT\n[year]\n,[month]\n FROM silver.vw_trip_data_green"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "TripDataForEach",
				"description": "ForEach to process all year and months data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Years and Months",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Years and Months').output.resultSets[0].Rows",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "TripDataFolderDeleteActivity",
							"description": "Activity to delete all the forders from silver layer which needs to be processed",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_taxi_zone_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": {
											"value": "gold/trip_data_green/year=@{item().year}/month=@{item().month}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "sp_activity_gold_trip_data_green",
							"description": "Activity to run stored procedure to load gold table trip data green",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "TripDataFolderDeleteActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "gold.usp_gold_trip_data_green",
								"storedProcedureParameters": {
									"year": {
										"value": {
											"value": "@item().year",
											"type": "Expression"
										},
										"type": "String"
									},
									"month": {
										"value": {
											"value": "@item().month",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "CreateTripDataViewActivity",
				"description": "Activity To Create Trip Data View For Gold Layer",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "TripDataForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "USE nyc_taxi_ldw"
						},
						{
							"type": "Query",
							"text": "DROP VIEW IF EXISTS gold.vw_trip_data_green"
						},
						{
							"type": "Query",
							"text": "CREATE VIEW gold.vw_trip_data_green\nAS\nSELECT\n    result.filepath(1) AS year,\n    result.filepath(2) AS month,\n    result.*\nFROM\n    OPENROWSET(\n        BULK 'gold/trip_data_green/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT = 'PARQUET'\n    ) \nWITH(\n\tborough VARCHAR(15)\n\t,trip_date DATE\n\t,day_name VARCHAR(10)\n\t,trip_day_weekend_ind VARCHAR(1)\n\t,card_trip_count INT\n\t,cash_trip_count INT\n\t,street_hail_trip_count INT\n\t,dispatch_trip_count INT\n\t,trip_distance FLOAT\n\t,trip_duration INT\n\t,fare_amount FLOAT\n) AS [result]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-20T09:37:43Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}